<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bugLog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

    </script>
    <style>
        * {
            box-sizing: border-box;
        }

        .menu {
            float: left;
            width: 20%;
            text-align: center;
        }

            .menu a {
                background-color: #e5e5e5;
                padding: 8px;
                margin-top: 7px;
                display: block;
                width: 100%;
                color: black;
            }

        .main {
            float: left;
            width: 60%;
            padding: 0 20px;
        }

        .right {
            background-color: #e5e5e5;
            float: left;
            width: 20%;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
        .sidenav {
          height: 100%; 
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 60px;
          transition: 0.5s;
        }

        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        .sidenav a:hover {
          color: #f1f1f1;
        }

        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }

        #main {
          transition: margin-left .5s;
          padding: 20px;
        }
    </style>
</head>

<body style="background:linear-gradient(#00CED1 0%, #ffffff 25%)">
    <header>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <button onclick="openNav()" class="btn btn-dark;" style="margin-left:15px; margin-top: 15px">Menu</button>
    <div id="main">
        <div class="row;" style="padding:15px; text-align:center;">
            <div class="column" style="padding-right:15px"><img style="width:100%; max-width:200px; height:auto"></div>
            <div class="column"><h1>Percentage</h1></div>
        </div>
        <div style="overflow:visible">
            <div class="menu" style="background:#00CED1">
                <a href="#">Report a bug</a>
                <a asp-controller="Bugs" asp-action="Index">Bugs</a>
                <a asp-controller="Teams" asp-action="Index">Team</a>
                <a asp-controller="Home" asp-action="Index">Logout</a>
            </div>
            <main role="main" class="pb-3 main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - bugLog - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>